# build output
dist/

# generated types
.astro/

# dependencies
node_modules/
.agents/

# logs
npm-debug.log*
skills-lock.json

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
