---
import content from "../content/about/experience.json"
---
{content.map((experience) => (
    <div class="montserrat-bold experience-box">
        <span class="experience-title">{experience.position}</span>
        <span class="experience-place">{experience.place}</span>
        <span class="experience-time">{experience.date}</span>
        {experience.list && <ul class="list">
            {experience.list.map((name) => (
                <li>{name}</li>
            ))}
        </ul>}
    </div>))
}
<style lang="scss">
    .experience-box{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-bottom: 1px solid var(--white);
        padding-bottom: 1rem;

        .experience-title{
            font-size: 1.3rem;
        }

        .experience-place{
            font-size: 1rem;
        }

        .experience-time{
            font-size: 0.8rem;
        }

        .list{
            margin-top: 1rem;
            list-style-type: disc;
            list-style: inside;
            font-size: 1rem;

            li{
                padding-bottom: 10px;
            }

            li:last-of-type{
                margin: 0;
                padding: 0;
            }
        }

        @media(max-width: 768px){
            flex-direction: column;

            .divider{
                display: none;
            }
            span{
                width: 100%;
            }

            span:last-of-type{
                font-size: 1rem;
            }
        }
    }
</style>