---

---
<footer class="footer montserrat-regular">
    <p>&copy; 2024 jkfrontdev. All rights reserved.</p>
</footer>
<style lang="scss" scoped>
    .footer{
        color: white;
        background-color: var(--light-black);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
</style>