---
const images: string[] = ['discord', 'email', 'linkedin'];
---
<footer class="footer montserrat-regular">
    <h1>FOOTER</h1>
</footer>
<style lang="scss" scoped>
    .footer{
        color: red;
    }
</style>