---
export interface Props {
    avatar: string,
    photoText?: boolean,
    textHeader: string,
    reverse?: boolean,
}
const {avatar, photoText, textHeader, reverse} = Astro.props as Props;
---
<div class={`image-text-section ${reverse ? 'image-text-section-reverse' : ''}`}>
    {avatar && <div class="photo-box ">
        <img src={avatar} alt="Avatar" loading="lazy" />
        {photoText && <span class="montserrat-alternates-bold text-gradient-purple">That's me!</span>}
    </div>}
    <div class="text-box-wrapper">
        <div class="text-box">
            <h2 class="montserrat-alternates-bold text-gradient-purple">{textHeader}</h2>
            <slot />
        </div>
    </div>
</div>
<style lang="scss">
    .image-text-section{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2rem 4rem;
        width: 100%;

        @media(max-width: 1024px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @media(max-width: 768px){
            padding: 2rem 2rem;
        }

        @media(max-width: 480px){
            padding: 2rem 10px;
        }
    }

    .image-text-section-reverse{
        flex-direction: row-reverse;

        @media(max-width: 1024px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .photo-box{
        max-width: 400px;
        width: 100%;
        height: 100%;
        opacity: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;

        img{
            width: 300px;
            height: auto;
        }

        span{
            width: 100%;
            padding-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 1024px){
                display: none;
            }
        }

        @media(max-width: 1024px){
            padding: 0;
        }
    }

    .text-box-wrapper{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        width: 100%;

        @media(max-width: 1024px){
            padding: 0;
        }
    }

    .text-box{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        max-width: 800px;
        min-height: 400px;
        row-gap: 1rem;
        background: var(--light-black);
        padding: 1.5rem 5rem;
        border-radius: 1rem;
        color: var(--white);
        width: 100%;

        h2{
            font-size: 1.5rem;
        }

        @media(max-width: 768px){
            padding: 1.5rem 2rem;
        }
    }
</style>