---
import StartSection from "./StartSection.astro";
import AboutSection from "./AboutSection.astro";
import ProjectsSection from "./ProjectsSection.astro";
import Background from "../layouts/Background.astro";
import ContactSection from "./ContactSection.astro";
---
<main class="montserrat-regular">
    <Background>
        <StartSection />
		<AboutSection />
    </Background>
	<ProjectsSection />
	<ContactSection />
</main>

<style lang="scss" scoped>
	main {
		margin: auto;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
	}
	@media(max-width: 480px){
		main{
			font-size: 16px;
		}
	}

</style>