---
interface Props {
	name: string;
	desc: string;
	deploy: string | null;
    gh: string;
    index: number;
}
const {name, desc, deploy, gh, index} = Astro.props;
---
<div class="project-card">
    <div class="project-name montserrat-bold">{name}</div>
    <div class="counter montserrat-alternates-bold">{index + 1}</div>
    <p class="content">{desc}</p>
    <div class="links">
        <!-- add render conditions -->
        <a href={gh} target="_blank"><img src="/src/assets/images/github.png" alt="Github Icon" loading="lazy"> <span>Github</span></a>
        <a href={deploy} target="_blank"><img src="/src/assets/images/internet.png" alt="Samurai Icon" loading="lazy"><span>Webpage</span></a>
    </div>
</div>
<style lang="scss" scoped>
    .project-card{
        min-height: 600px;
        height: auto;
        padding: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        position: relative;
        border-radius: 1rem;
        white-space: normal;
        box-sizing: border-box;
        flex: 0 0 450px;
        background-color: #1c1f23;

        .project-name{
            font-size: 32px;
            margin-bottom: 20px;
        }

        .content{
            width: 100%;
        }

        .counter{
            height: 75px;
            width: 75px;
            font-size: 40px;
            font-weight: bold;
            padding: 20px;
            position: absolute;
            left: -10px;
            top: -40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--gradient-purple-background);
            border-radius: 0.5rem;
        }


        .links{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            gap: 20px;

            a{
                cursor: pointer;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                transition: font-size 0.5s ease-out;

                img{
                    width: 75px;
                    height: auto;
                    transition: width 0.5s ease-out;
                }
            }

            a:hover{
                font-size: 24px;
                transition: font-size 0.5s ease-out;

                img{
                    width: 85px;
                    transition: width 0.5s ease-out;
                }
            }
        }
    }
</style>