---

---
<section class="projects-section">
    <h1>projects</h1>
</section>
<style>
    .projects-section{
        background-color: var(--light-black);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
</style>