---

---
<script>
    // const headerBoxes = document.querySelectorAll('.header-box');
    // [...headerBoxes].forEach((element: any) => {
    //     console.log(element);
    //     element.addEventListener('mouseenter', (e: any) => {
    //         e.target.classList.add('text-gradient-purple');
    //     })

    //     element.addEventListener('mouseleave', (e: any) => {
    //         e.target.classList.remove('text-gradient-purple');
    //     });
    // });
</script>
<section class="start-section">
    <!-- <div class="image-container">
        <img src="/src/assets/images/avatar2.png" alt="Avatar">
    </div> -->
    <header class="montserrat-light header">
        <span class="header-box">about me</span>
        <div class="header-box">projects</div>
        <div class="header-box">contact</div>
    </header>
    <div class="main-text-container">
        <h1 class="montserrat-alternates-bold">Jakub Kroc</h1>
        <h2 class="montserrat-alternates-regular text-gradient-purple">fullstack developer</h2>
    </div>
    <div class="mouse"></div>
</section>
<style>
    .start-section{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem 2rem;
        position: relative;
        height: 100vh;
    }

    .header{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 1rem;
    }

    .header-box{
        cursor: pointer;
        transition: 
        background-image 0.5s,
        font-size 0.5s ease-out;
    }
    .header-box:hover{
        font-size: 2rem;
        transition: font-size 0.5s ease-out;
        background-image: var(--gradient-purlpe);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }
    .main-text-container{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateY(-50%);

        @media(max-width: 1024px){
            width: 100%;
            position: static;
            display: flex;
            flex: 1;
            transform: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        /* @media(max-width: 480px){
            width: 100%;
            position: static;
            display: flex;
            flex: 1;
            transform: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        } */
    }

    h1{
        font-size: 6rem;
        color: var(--white);
        @media(max-width: 768px){
            font-size: 4rem;
        }

        @media(max-width: 480px){
            font-size: 3rem;
        }
    }

    h2{
        font-size: 3rem;
        margin-top: -2.5rem;

        @media(max-width: 768px){
            font-size: 2rem;
        }

        @media(max-width: 480px){
            font-size: 1.5rem;
            margin-top: -1rem;
        }
    }

    img{
        width: 200px;
        height: auto;
        z-index: 2;
    }

    .mouse {
	width: 20px;
	height: 40px;
	border: 1px solid white;
	border-radius: 60px;
	position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
        &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            border-radius: 50%;
            opacity: 1;
            animation: wheel 2s infinite;
            -webkit-animation: wheel 2s infinite;
        }
    }

    @keyframes wheel {
        to {
            opacity: 0;
            top: 30px;
        }
    }

    @-webkit-keyframes wheel {
        to {
            opacity: 0;
            top: 30px;
        }
    }
</style>