---

---
<section class="start-section">
    <!-- <div class="image-container">
        <img src="/src/assets/images/avatar.png" alt="Avatar">
    </div> -->
    <div class="main-text-container">
        <h1 class="montserrat-alternates-bold">Jakub Kroc</h1>
        <h2 class="montserrat-alternates-regular text-gradient-purple">fullstack developer</h2>
    </div>
</section>
<style>
    .start-section{
        width: 100%;
        display: flex;
        /* justify-content: flex-end;
        align-items: flex-end; */
        flex-direction: column;
        padding: 2rem 0;
        border: 1px solid red;
        position: relative;
        height: 100vh;
    }
    
    .image-container{
        width: auto;
        /* border: 1px solid pink; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .main-text-container{
        /* width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 0 0 20rem; */
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateY(-50%);
       
        z-index: 2;
    }

    h1{
        font-size: 6rem;
        color: var(--white);
        /* margin-bottom: 0.5rem; */
    }

    h2{
        font-size: 3rem;
        margin-top: -2.5rem;
    }

    img{
        width: 200px;
        height: auto;
        z-index: 2;
    }
</style>