---
import content from "../content/about/techstack.json"
---
<script>
import Glide from '@glidejs/glide'

    const glide = new Glide('.glide',{
        autoplay: 1000,
        perView: 4,
        rewind: true,
        gap: 15,
        breakpoints:{
            768:{
                perView: 3
            },
            480:{
                perView: 2,
            }
       }
    });

    glide.mount();
</script>
<div class="tech-stack">
    <div class="list-wrapper">
        {content.technologies.map(arr => (
            <ul class="tech-list">
                {arr.map(tech => (
                    <li class="tech"><span class="tech-name">{tech}</span></li>
                ))}
            </ul>
        ))}
    </div>
    <p class="montserrat-regular">
        {content.info}
    </p>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {content.technologiesSlider.map(tech => (
                <li class="glide__slide">
                    <a href={tech.link ? tech.link : ''}>
                        <img class="icon" title="Tech icon" src={`/src/assets/icons/${tech.icon}-icon.svg`} alt="Tech icon" loading="lazy"/>
                    </a>
                </li>
            ))}
          </ul>
        </div>
    </div>
</div>
<style lang="scss" scoped>
    .tech-stack{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 30px;
        width: 100%;
    }

    .list-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 30px;
    }

    .tech{
        cursor: pointer;
    }

    .tech-icon{
        display: none;
        position: absolute;
        max-width: 150px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        transition: background 0.5s;
    }

    .glide__track{
        position: relative;
        padding: 20px 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .glide__slide{
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        background-color: #826AED;
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        margin: 10px 0;

        img{
            height: 75px;
            width: auto;
        }
    }

    @media(max-width: 1024px){
        .list-wrapper{
            flex-wrap: wrap;
            width: 100%;
        }
    }

    @media(max-width: 768px){
        .list-wrapper{
            flex-wrap: wrap;
            column-gap: 0;
        }

        .tech-list{
            width: 50%;
        }
    }

    

    @media(max-width: 480px){
        .tech-stack{
            p{
                text-align: justify;
            }
        }
    }
</style>