---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.5/build/spline-viewer.js" async></script>
	</body>
</html>
<script>
	import AOS from 'aos';
	AOS.init({
		once: true,
	});
</script>
<style is:global lang="scss">
	@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
	@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
	@import 'aos/dist/aos.css';
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--purple: #582DFD;
		--purple-light: #826AED;
		--white: #EAEAEA;
		--gradient-purlpe: linear-gradient(180deg, rgba(130,106,237,1) 0%, rgba(88,45,253,1) 100%);
		--gradient-light-purple: linear-gradient(0deg, rgba(130,106,237,1) 0%, rgba(234,234,234,1) 100%);
		--light-black: #15171b;
		--gradient-purple-background: linear-gradient(180deg, rgba(130,106,237,1) 0%, rgba(88,45,253,1) 100%);
	}

	*{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		scrollbar-width: thin;
		scrollbar-color: #2b177a rgba(0, 0, 0, 0.178);
	}

	::-webkit-scrollbar-thumb{
        background-color: rgba(88,45,253,0.1);
		border-radius: 10px;
    }
	html {
		background: #060709;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body{
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.montserrat-regular {
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	.montserrat-bold {
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
	}

	.montserrat-light {
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
	}

	.montserrat-extra-bold {
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		font-weight: 900;
		font-style: normal;
	}

	.montserrat-alternates-regular {
		font-family: "Montserrat Alternates", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.montserrat-alternates-bold {
		font-family: "Montserrat Alternates", sans-serif;
		font-weight: 700;
		font-style: normal;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.text-gradient-purple{
		background-image: var(--gradient-purlpe);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.text-gradient-light-purple{
		background-image: var(--gradient-light-purple);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.btn{
		border-radius: 8px;
		background: var(--gradient-purple-background);
		padding: 10px 30px;
		font-weight: bold;
		text-transform: uppercase;
		transition: font-size 0.5s ease-out;
	}

	.btn:hover{
		font-size: 24px;
		transition: font-size 0.5s ease-out;
	}
</style>
